@import "../../styles/variables";
.Container {
  text-align: center;
  .Loader {
    width: 45px;
    height: 45px;
    display: inline-block;
    padding: 0px;
    border-radius: 100%;
    border: 5px solid;
    border-top-color: $accentColor;
    border-bottom-color: rgba(255, 255, 255, 1);
    border-left-color: $accentColor;
    border-right-color: rgba(255, 255, 255, 1);
    animation: loader 1s ease-in-out infinite;

    @keyframes loader {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    @-webkit-keyframes loader {
      from {
        -webkit-transform: rotate(0deg);
      }
      to {
        -webkit-transform: rotate(360deg);
      }
    }
  }
}
