@import "variables";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Proxima Nova bold", Verdana, Geneva, sans-serif;
  color: $grayColor;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 14px;
}

main {
  min-height: calc(100vh);
  background-color: rgb(243, 243, 243);
}
